<%- include layouts/header.ejs %>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="h1">
                <%=page_title%>
            </h1>
        </div>
    </div>
    <div class="col-sm-12">
        <table class="table table-hover table-bordered">
            <tr class="bg-primary">
                <th>No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>SIN</th>
                <th>DOB</th>
                <th>Status</th>
                <th>Gender</th>
            </tr>
            <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td>
                        <%=(i+1)%>
                    </td>
                    <td>
                        <%=data[i].firstName%>
                    </td>
                    <td>
                        <%=data[i].lastName%>
                    </td>
                    <td>
                        <%=data[i].address%>
                    </td>
                    <td>
                        <%=data[i].email%>
                    </td>
                    <td>
                        <%=data[i].phone%>
                    </td>
                    <td>
                        <%=data[i].sin%>
                    </td>
                    <td>
                        <%=data[i].DOB%>
                    </td>
                    <td>
                        <%=data[i].status%>
                    </td>
                    <td>
                        <%=data[i].gender%>
                    </td>
                </tr>
                <% }
            
             }else{ %>
                    <tr>
                        <td colspan="3">No Job Seekers</td>
                    </tr>
                    <% } %>
        </table>
    </div>
    <!--
    <div class="row">
        <div class="col-lg-16 col-centered text-center">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2 form-group">
                <button type="button" class="btn btn-success form-control" onClick="addJobSeeker();">Add Job Seeker</button>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-group">
            <div class="col-sm-8">
                <input class="form-control col-lg-12" type="text" name="employer_name" id="employer_name" />
            </div>
            <div class="col-sm-4">
                <button class="btn btn-default" id="employer_search" name="employer_search">Search</button>
            </div>
        </div>
    </div>
    <div id="searchResults" class="col-sm-12">
        <h2> Search results </h2>
        <ul class="list-group">
        </ul>
    </div>
    -->

    <%- include layouts/footer.ejs %>